.mycontainer {
    width: 95%;
    margin: 0 auto;
}

.cat {
    text-align: center;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 200;
    /*  transition: background-color 1s; */
}

.selected {
    background-color: #eecb8a !important;
}

.selected:hover a {
    background-color: #eecb8a !important;
}

@media screen and (max-width: 768px) {
    #search {
        border: 1px solid red;
        margin-left: 25px;
        width: 80px !important;
    }
    .my-sm-2 {
        margin-top: 4px;
    }
    .owl-prev {
        display: none
    }
    .owl-next {
        display: none
    }
    .promo {
        display: none
    }
}

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@700&display=swap');
.title {
    text-align: center;
    position: relative;
    line-height: 80px;
    color: #555;
    font-family: 'Tangerine', cursive;
}

.bg-bluesky {
    background-color: #eaf8f8;
}

.bg-bluesky-bottom {
    background: linear-gradient(to bottom, #eaf8f8, #eecb8a) !important;
}

input,
button,
textarea {
    border: 0.5px solid #B6C867 !important;
}

.title::after {
    content: '';
    background-color: #B6C867 !important;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.promo {
    border-radius: 60%;
    background-color: crimson;
    color: white;
    transform: rotate(15deg);
    position: absolute;
    padding: 20px;
    min-width: 100px;
    font-size: x-large;
    font-weight: bold;
    top: 50px;
    text-align: center;
    right: -25px !important;
}

.carousel-caption {
    position: absolute;
    left: 60%;
    top: 20%;
    font-weight: 600;
    font-size: xx-large;
    width: 50%;
    color: black !important;
}

.carousel-item img {
    margin-left: 40px;
}

.btn0 {
    border: none;
    background-color: #ef9273;
    ;
    color: aliceblue;
    border-radius: 30px;
    padding: 8px 30px;
}

.btn0:hover {
    background-color: black;
    color: white;
}

.carousel-control-next-icon {
    z-index: 3;
    border: none !important;
}

select,
option {
    background-color: transparent !important;
    border: 1px solid #5E454B !important;
}

.card {
    background-color: transparent !important;
    border: none;
}

.owl-prev {
    position: absolute;
    left: -20px;
    font-size: xx-large;
    top: 60px;
    z-index: 3;
    border: none !important;
}

.owl-next {
    position: absolute;
    z-index: 3;
    right: -20px;
    font-size: xx-large;
    font-weight: bolder;
    top: 60px;
    border: none !important;
}

.owl-next span,
.owl-prev span {
    font-size: 90px;
    border: none !important;
}

a:hover {
    text-decoration: none !important;
    color: white;
}

#carouselExampleCaptions {
    background: linear-gradient(to bottom, #eaf8f8, #eecb8a) !important;
}


/* ------------------------------------------------------------------- */

.favorite .card:hover {
    -webkit-box-shadow: 6px 6px 15px 13px #acb5be;
    box-shadow: 6px 6px 15px 13px #acb5be;
    transition: position 3s;
}


/* #result {
    top: 56px !important;
} */

.favorite .card:hover .show1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.favorite .card:hover {
    color: white;
    background-color: black !important;
    transition: background-color 3s;
}

.navbar {
    height: 100px;
}

.nav-link {
    padding: 20px !important;
    font-weight: bolder;
}

.price {
    color: yellowgreen;
    font-size: 25px;
    margin-left: 5px;
}

.show1 {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    display: none;
}


/*--------------------------------------------------------------------*/

.cat {
    display: block;
    width: 95%;
    padding: 0 !important;
    margin: 0!important;
    overflow: auto;
    height: 360px;
    margin: 0 auto !important;
}

.cat::-webkit-scrollbar {
    width: 0.5em;
}

.navbar {
    background-color: #eaf8f8 !important;
}

.nav-link:hover {
    color: #eecb8a!important;
}

.cat::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
    font-size: x-large;
    font-weight: bolder;
}

#search {
    width: 500px !important;
    background: linear-gradient(to right, #eaf8f8, #eecb8a) !important;
    border-radius: 30px !important;
}

.cat::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    /*     outline: 1px solid slategrey; */
    border-radius: 6px;
}

.cat::-webkit-scrollbar-thumb:hover {
    background-color: orangered;
    /*     outline: 1px solid slategrey; */
    border-radius: 6px;
}

.searchsub:hover {
    color: white !important;
    background-color: #eecb8a !important;
}

.cat li {
    text-decoration: none;
    list-style: none;
    text-align: left;
    padding: 12px;
    background-color: #eaf8f8;
    ;
    margin-bottom: 3px;
}

.cat li a {
    color: black !important;
    display: inline-block !important;
    padding: 0 !important;
    margin: 0!important;
    width: 100% !important;
}

.cat li:hover {
    color: black !important;
    background-color: beige;
}

.cat li:hover a {
    color: black !important;
    background-color: beige;
}


/* #search {
    top: 137px;
} */


/*-------------------------------------- Footer ----------------------------------------------------*/

footer {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 55px 50px;
    margin-top: 80px;
    bottom: 0;
    color: black
}

.footer-navigation h3 {
    margin: 0;
    font: normal 36px Cookie, cursive;
    margin-bottom: 20px;
    color: black
}

.footer-navigation h3 a {
    text-decoration: none;
    color: black
}

.footer-navigation h3 span {
    color: #5383d3
}

.footer-navigation p.links a {
    color: black;
    text-decoration: none
}

.footer-navigation p.company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px
}

@media (max-width:767px) {
    .footer-contacts {
        margin: 30px 0
    }
}

.footer-contacts p {
    display: inline-block;
    color: black;
    vertical-align: middle
}

.footer-contacts p a {
    color: #5383d3;
    text-decoration: none
}

.fa.footer-contacts-icon {
    background-color: #33383b;
    color: white;
    font-size: 18px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 38px;
    margin: 10px 15px 10px 0
}

span.new-line-span {
    display: block;
    font-weight: normal;
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2
}

.footer-about h4 {
    display: block;
    color: b;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px
}

.footer-about p {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0
}

div.social-links {
    margin-top: 20px;
    color: black
}

.social-links a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 5px;
    margin-bottom: 5px
}

.footer {
    width: 100% !important;
    margin-top: 10px !important;
}
